@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font: normal normal normal 14px/23px Poppins;
}
.asterisk-field{
    color: red!important;
}
.input-field-style {
    width: 100%;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    opacity: 1;
}
.label-style {
    font: normal normal normal 14px/23px Poppins;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
}
.form-title-style {
    text-align: left;
    font: normal normal 300 14px/23px Poppins;
    letter-spacing: 0px;
    color: #108CFF;
    text-transform: uppercase;
    opacity: 1;
}
.form-title-style-conf {
    text-align: left;
    font: normal normal 300 14px/23px Poppins;
    letter-spacing: 0px;
    color: #108CFF;
    text-transform: capitalize;
    opacity: 1;
}
.invisible-field {
    display:none;
}
.file-field-style {
    width: 450px;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    opacity: 1;
    cursor: pointer;
}
.cloud-upload-icon{
    color:rgb(114, 108, 108);
}
.label-style-conf {
    font: normal normal normal 14px/23px Poppins;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
}
.confirm-field {
    text-align: left;
    font: normal normal 300 14px/23px Poppins;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.confirmation-banner {
    background: #F0F4F9 0% 0% no-repeat;
    opacity: 1;
    padding: 10px;
    text-transform: capitalize;
}
.success-title {
    color: #6BC1B5;
    font: normal normal normal 25px/38px Poppins;
}

.success-message {
    text-align: center;
    color: #909090;
    font: normal normal medium 22px/33px Poppins;
}

.success-container {
    height: 70vh;
}

.validation-style {
    color: rgb(255, 6, 6);
    text-align: left;
    font-size: x-small;
    padding-left: 10px;
}